.container {
  display: flex;
  flex-wrap: nowrap; /* Mantener todos los elementos en una fila */
  justify-content: space-between;
  align-items: flex-start;
  max-width: 100%; /* Asegura que ocupe todo el ancho disponible */
  margin: 0 auto;
  gap: 20px;
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.audio-column, .equalizer-column {
  flex: 1;
  min-width: 340px; /* Ajusta el tamaño mínimo de las columnas según sea necesario */
  padding: 10px;
}

.audio-list, .audio-player {
  margin-bottom: -20px;
}

.equalizer-column h1, .audio-list h1 {
  font-size: 18px;
  text-align: center;
}

.equalizer-column div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.equalizer-column label {
  width: 25%;
}

.equalizer-column input[type="range"] {
  flex: 1;
  margin: 0 10px;
}

.equalizer-column span {
  width: 80px;
  text-align: right;
}

/* Centrar el select y ajustar su tamaño */
select {
  width: 80%; /* Ajusta este valor para cambiar el ancho */
  margin: 0 auto; /* Centrar el elemento */
  display: block; /* Asegura que el select se comporte como un bloque dentro de la columna */
  padding: 5px; /* Añade un poco de padding para mejorar la presentación */
  font-size: 13px; /* Cambia el tamaño del texto según sea necesario */
  text-align: center; /* Asegura que el texto dentro esté centrado */
}

/* Ajustar el botón también si es necesario */
button {
  width: 80%; /* Asegura que el botón tenga un tamaño similar al del select */
  margin: 0 auto;
  display: block;
  padding: 5px;
}

/* Opcional: puedes ajustar el audio player también */
.audio-player audio {
  width: 80%; /* Ajusta el ancho del reproductor de audio */
  margin: 0 auto;
  display: block;
  
}

.opaque {
  opacity: 0.5;
  pointer-events: none;
}